img {
  vertical-align: middle;
  margin-right: 8px;
  width: 35px;
  height: 45px;
}

mat-icon {
  cursor: pointer;
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

.mat-mdc-table {
  background-color: #3b3b3b;
}
.mat-mdc-cell,
.mat-mdc-header-cell {
  color: #ffffff !important; /* blanco, o el color que prefieras */
}
